In [1]:
from src.data.load_data import *
from src.models import util_model
from src.data import util
from pathlib import Path

In [2]:
dataset_path = Path("data/raw")
target_path = dataset_path / "trans021-1.png"
target_image = read_image(target_path)

In [3]:
section_dict = util_model.detect_section(target_image)

0: 640x480 3 sections, 883.1ms
Speed: 4.0ms preprocess, 883.1ms inference, 0.7ms postprocess per image at shape (1, 3, 640, 480)

In [4]:
processed_sections = util.pre_process(section_dict)

In [5]:
text_dict = util_model.images_to_texts(processed_sections)

In [6]:
courses_df = util.make_course(text_dict)

Error from get_courseID
33101: ศิลปะ 5                      05    4
Error from get_courseID
31202: เทเบิลเทนนิส                                   05       4

In [7]:
post_courses_df = util.post_process(courses_df, processed_sections)

['33101: ศิลปะ 5                      05    4' '5                      5    4' '004' '999' 'ศิลปะ' 0.5 4.0]
Error from get_courseID
33101: ศิลปะ 5                       05    4
Error from get_courseID
33101: ศิลปะ 5                       05    4
Error from get_courseID
33101: ศิลปะ 5                       05    4
Error from get_courseID
33101: ศิลปะ 5                       05    4
['31202: เทเบิลเทนนิส                                   05       4' '5       4' '134' '999' 'เทเบิลเทนนิส' 0.5 4.0]
Error from get_courseID
31202: เทเบิลเทนนิส                                   05       4
['อ31204: ภาษาอังกฤษฟัง-พูด 2                             ย' '' '135' 'อ31204' 'ภาษาอังกฤษฟัง' 999.0 999.0]

In [8]:
error_df = util.get_error(post_courses_df).reset_index(drop=True)
error_df

,ocr,numeric,section,id,name,unit,grade
0,33101: ศิลปะ 5 05 4,5 5 4,004,999,ศิลปะ,0.5,4.0
1,31202: เทเบิลเทนนิส ...,5 4,134,999,เทเบิลเทนนิส,0.5,4.0