In [16]:
import pandas as pd
from pathlib import Path
import os
from src.data import tester, load_data

In [17]:
def GPA(df):
    mul = df['unit_x'].astype(float) * df['grade_x'].astype(float)
    sumnation = mul.sum()
    units = df['unit_x'].astype(float).sum()
    return units, sumnation/units

In [18]:
front_test_dir = Path("data/test/csv/front")
front_out_dir = Path("data/out/csv/front")
front_test_filenames = os.listdir(front_test_dir)
front_out_filenames = os.listdir(front_out_dir)
front_test_filenames.sort()
front_out_filenames.sort()

In [19]:
totol_acc, n = 0, len(front_test_filenames)

for idx, _ in enumerate(front_test_filenames):
    test_df = load_data.read_csv(front_test_dir, front_test_filenames[idx])
    out_df = load_data.read_csv(front_out_dir, front_out_filenames[idx])
    merge_df = pd.merge(test_df, out_df, left_on="id", right_on="id", how="inner")
    correct_df = merge_df.query("(unit_x == unit_y) & (grade_x == grade_y)")
    acc = tester.get_accuracy(correct_df.shape[0], test_df.shape[0])
    totol_acc += acc

model_acc = totol_acc/n
print("model accuracy:", model_acc)

model accuracy: 90.51956574371853

In [47]:
test_df = load_data.read_csv(front_test_dir, "test005-1.csv")
out_df = load_data.read_csv(front_out_dir, "trans005-1.csv")
merge_df = pd.merge(test_df, out_df, left_on="id", right_on="id", how="inner")
correct_df = merge_df.query("(unit_x == unit_y) & (grade_x == grade_y)")
acc = tester.get_accuracy(correct_df.shape[0], test_df.shape[0])
print("accuracy:", acc)
correct_df

accuracy: 96.66666666666667

,id,name_x,unit_x,grade_x,section,name_y,unit_y,grade_y
0,ท31101,ภาษาไทยพื้นฐาน 1,1.0,4.0,100,ภาษาไทยพื้นฐาน,1.0,4.0
1,ค31101,คณิตศาสตร์พื้นฐาน 1,1.5,4.0,101,คณิตศาสตร์พื่นฐาน,1.5,4.0
2,ว30111,วิทยาศาสตร์ชีวภาพ,1.5,4.0,102,วิทยาศาสตร์ชีวภาพ,1.5,4.0
3,ว30112,วิทยาศาสตร์กายภาพ 1,1.5,4.0,103,วิทยาศาสตร์กายภาพ,1.5,4.0
4,ว30113,วิทยาศาสตร์โลกและอวกาศ,1.5,4.0,104,วิทยาศาสตร์โลกและอวกาศ,1.5,4.0
...,...,...,...,...,...,...,...,...
84,ว33216,ดาราศาสตร์เพิ่มเติม 2,1.0,4.0,022,ดาราศาสตร์เพิ่มเติม,1.0,4.0
85,ว33222,ฟิสิกส์ 5,2.0,4.0,023,ฟิสิกส์,2.0,4.0
87,ว33242,ชีววิทยา 5,1.5,4.0,025,ชีววิทยา,1.5,4.0
88,ง33216,ทักษะเพื่อการทำงาน,0.5,4.0,026,ทักษะเพื่อการทํางาน,0.5,4.0
89,อ33202,สนทนาภาษาอังกฤษ 6,0.5,4.0,027,สนทนาภาษาอังกฤษ,0.5,4.0

In [48]:
GPA(correct_df)

(90.0, 4.0)