In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [2]:
def read_csv(dir_path, filename):
    return pd.read_csv(dir_path/(filename), dtype=str)

In [3]:
front_test_dir = Path("data/test/csv/front")
front_out_dir = Path("data/out/csv/front")
front_test_filenames = os.listdir(front_test_dir)
front_out_filenames = os.listdir(front_out_dir)

In [10]:
front_test_filenames.sort()
front_out_filenames.sort()

In [11]:
front_test_filenames, front_out_filenames,

(['test020-1.csv', 'test021-1.csv'], ['trans020-1.csv', 'trans021-1.csv'])

In [12]:
for idx, _ in enumerate(front_test_filenames):
    test_df = read_csv(front_test_dir, front_test_filenames[idx])
    out_df = read_csv(front_out_dir, front_out_filenames[idx])
    merge_df = pd.merge(test_df, out_df, left_on="section", right_on="section", how="inner")
    status = merge_df.query("(id_x == id_y & unit_x == unit_y & grade_x == grade_y)")
    break

In [13]:
status

,section,id_x,name_x,unit_x,grade_x,id_y,name_y,unit_y,grade_y
0,000,ท33101,ภาษาไทย,1.0,3.5,ท33101,ภาษาไทย,1.0,3.5
1,001,ส33101,สังคมศึกษา,1.0,3.0,ส33101,สังคมศึกษา,1.0,3.0
2,002,ส33102,ประวัติศาสตร์ไทย,0.5,2.5,ส33102,ประวัติศาสตร์ไทย,0.5,2.5
3,003,พ33103,สุขศึกษาและพลศึกษา,0.5,4.0,พ33103,สุขศึกษาและพลศึกษา,0.5,4.0
4,004,ศ33101,ศิลปะ,0.5,4.0,ศ33101,ศิลปะ,0.5,4.0
...,...,...,...,...,...,...,...,...,...
72,225,ว30261,การออกแบบและเทคโนโลยี,1.0,4.0,ว30261,การออกแบบและเทคโนโลยี,1.0,4.0
73,226,ว32202,ฟิสิกส์,1.5,2.5,ว32202,ฟิสิกส์,1.5,2.5
74,227,ว32222,เคมี,1.0,4.0,ว32222,เคมี,1.0,4.0
75,228,ว32242,ชีววิทยา,1.5,3.0,ว32242,ชีววิทยา,1.5,3.0
76,229,อ32212,ภาษาอังกฤษสำหรับมหาวิทยาลัย,1.0,3.5,อ32212,ภาษาอังกฤษสําหรับมหาวิทยาลัย,1.0,3.5