In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [2]:
def read_csv(dir_path, filename):
    return pd.read_csv(dir_path/(filename), dtype=str)

In [3]:
front_test_dir = Path("data/test/csv/front")
front_out_dir = Path("data/out/csv/front")
front_test_filenames = os.listdir(front_test_dir)
front_out_filenames = os.listdir(front_out_dir)

In [4]:
front_test_filenames.sort()
front_out_filenames.sort()

In [5]:
front_test_filenames, front_out_filenames,

(['test011-1.csv',
  'test012-1.csv',
  'test013-1.csv',
  'test015-1.csv',
  'test016-1.csv',
  'test018-1.csv',
  'test019-1.csv',
  'test020-1.csv'],
 ['trans011-1.csv',
  'trans012-1.csv',
  'trans013-1.csv',
  'trans015-1.csv',
  'trans016-1.csv',
  'trans018-1.csv',
  'trans019-1.csv',
  'trans020-1.csv'])

In [7]:
for idx, _ in enumerate(front_test_filenames):
    test_df = read_csv(front_test_dir, front_test_filenames[idx])
    out_df = read_csv(front_out_dir, front_out_filenames[idx])
    merge_df = pd.merge(test_df, out_df, left_on="id", right_on="id", how="inner")
    correct_df = merge_df.query("")
    break

In [8]:
merge_df

,id,name_x,unit_x,grade_x,section,name_y,unit_y,grade_y
0,ท31101,ภาษาไทย 1,1.0,4.0,200,ภาษาไทย,1.0,4.0
1,ค31111,คณิตศาสตร์ 1,1.0,4.0,201,คณิตศาสตร์,1.0,4.0
2,ว31111,วิทยาศาสตร์พื้นฐาน 1,1.0,4.0,202,วิทยาศาสตร์พื้นฐาน,1.0,4.0
3,ว31121,เทคโนโลยี 1,0.5,4.0,203,เทคโนโลยี,0.5,4.0
4,ส31101,สังคมศึกษา 1,0.5,2.5,204,สังคมศึกษา,0.5,2.5
...,...,...,...,...,...,...,...,...
95,ท33212,สานภาษาเพื่อการคิดวัฒนะ,0.5,3.5,023,สานภาษาเพื่อการคิดวัฒนะ,0.5,3.5
96,ค33212,คณิตศาสตร์เพิ่มเติม 6,1.5,4.0,024,คณิตศาสตร์เพิ่มเติม,1.5,4.0
97,ว33202,ฟิสิกส์ 6,2.0,3.5,025,ฟิสิกส์,2.0,3.5
98,พ33223,เทคนิตการจัดการกับความเครียด,1.0,4.0,026,เทคนิคการจัดการกับความเครียด,1.0,4.0
99,อ33202,ภาษาอังกฤษเพิ่มเติม 6,1.5,4.0,027,ภาษาอังกฤษเพิ่มเติม,1.5,4.0